#main{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    width: 650px;
    height: auto;
    align-content: center;
    padding-top: 50px;
    padding-left: 10px;
}

.login{
    margin-top: 20px;
}

.tb {
  height: 30px;
  width: 230px;
  border: none;
  margin-bottom: 5px;
  opacity: 0.8;
  border-bottom: 1px solid #504848;
  }

  #res{
    margin-top: 8px;
    height: 32px;
    width: 110px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(212, 28, 31);
    border: none;
  }

  #submt{
    margin-top: 8px;
    height: 32px;
    width: 110px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    background-color: rgb(5, 110, 5);
    border: none;
  }

  #res:hover{
    transition: 0.3s;
    background-color: rgb(241, 19, 19);
  }

  #submt:hover{
    transition: 0.3s;
    background-color: rgb(7, 148, 7);
  }